body {
    display: flex;
    background: rgb(205,205,205);
    background: linear-gradient(90deg, rgba(205,205,205,1) 0%, rgba(197,255,158,1) 21%, rgba(0,212,255,1) 100%);
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 100vh;
  }
  
  .command {
    height: 400vh;
  }
  
  table {
    border-collapse: collapse;
    border: 10px solid #080066;
    font-size: .8rem;
    letter-spacing: 0.5px;
    margin-top: auto;
  }
  
  th {
    border: 10px solid #080066;
    padding: 10px;
  }
  
  th[scope="name"] {
    color: #696969;
  }
  
  th[scope="desc"] {
    color: #999999;
  }